.cabecera{
  /*padding: 7px 7px 0px 7px;
  background-color: WhiteSmoke  ;
  border-radius: 4px;
  border: 1px solid #bbb;
  margin-bottom: 3px;*/
}

.footer{
  display: table;
  width: 320px;
  padding: 7px 7px 0px 7px;
  background-color: WhiteSmoke  ;
  border-radius: 4px;
  border: 1px solid #bbb;
}

.campoVerde{
  background-color: green;
  border: 1px solid #bbb;
}

.titulo{
  height: 38px;
  padding: 0px 10px 0px 0px;
  color: #555;
  font-size: 20px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
}

.subtitulo{
  width:335px;
  display: inline-block;
  height: 38px;
  /*color: #555;*/
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  /*background-color: transparent;*/
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;
  box-sizing: border-box;
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
  /*border-color: #bbb;*/
}

.campoJuego{
  background-image: url("../img/campoFutbol.jpg");
  background-repeat: no-repeat;
  width: 320px;
  height:440px;
  /*background-color: green;*/
  border: 1px solid;
  position: relative;
}

.equipoRojo {
  text-align: center;
  background-color: red;
  opacity:0.75;
  min-width: 120px;
  padding: 3px 0px 3px 0px ;
  border-radius: 4px;
}
.jugador{
  text-align: left;
  width: 70px;
}

.fechaSelector{
  display: inline-block;
  height: 38px;
  padding: 0 10px;
  color: #555;
  text-align: center;
  font-size: 15px;
  font-weight: 900;
  line-height: 38px;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  box-sizing: border-box;
}
.numPartidos{
  font-weight: 400;
}

.equipoAzul{
  text-align: center;
  background-color: deepskyblue;
  opacity:0.75;
  min-width: 120px;
  padding: 3px 0px 3px 0px ;
  border-radius: 4px;
}
.nombre{
  display: inline;
}
.goles{
  padding-left: 1px;
  display: inline;
  color: darkblue ;
  width: 20px;
}
.porteroA{
  position: absolute;
  top:  3%;
  left: 31.25%;
}
.latDchoA{
  position: absolute;
  top:  14%;
  left: 2%;
}
.latIzqA{
  position: absolute;
  top: 14%;
  right: 2%;
}
.centralA{
  position: absolute;
  top:  23%;
  left: 31.25%;
}
.extDchoA{
  position: absolute;
  top:  34%;
  left: 5%;
}
.extIzqA{
  position: absolute;
  top: 34%;
  right: 5%;
}
.delanteroA{
  position: absolute;
  top:  42%;
  left: 31.25%;
}
.delanteroB{
  position: absolute;
  top:  51%;
  left: 31.25%;
}
.extIzqB{
  position: absolute;
  top:  59%;
  left: 5%;
}
.extDchoB{
  position: absolute;
  top: 59%;
  right: 5%;
}
.centralB{
  position: absolute;
  top:  70%;
  left: 31.25%;
}
.latIzqB{
  position: absolute;
  top:  79%;
  left: 2%;
}
.latDchoB{
  position: absolute;
  top: 79%;
  right: 2%;
}
.porteroB{
  position: absolute;
  top:  90%;
  left: 31.25%;
}
