<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Valdezorras</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/styles.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Cabecera y Menu
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="footer">
      <h5 class="u-pull-left titulo" @click="conectar">VALDEZORRAS</h5>
      <button v-if="!esperando && !addPartidos" @click="verPartidos=!verPartidos" class="u-pull-right">{{textoBoton1}}</button>
      <button v-if="addPartidos" @click="guardaPartido" class="u-pull-right">{{textoBoton2}}</button>
    </div>
    <hr>
    <!-- Template Añadir nuevo partido
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <template v-if="addPartidos" >
      <div class="row">
        <div class="u-pull-left">
          Fecha:<input v-model="partidoActual.fecha" type="text">
          Resultado: [{{golesEquipoA}} - {{golesEquipoB}}]
        </div>
      </div>
      Datos: {{datosOK}}
      <div class="campoVerde">
        <!-- -########### Equipo A ########### -->
        <div class="row" >
          <div class="offset-by-four eight columns " style="margin-top: 10px">
            <input v-model="partidoActual.equipoA.portero.nombre" type="text" class="jugador" placeholder="Portero">
            <input v-model="partidoActual.equipoA.portero.goles"  type="text" class="goles" placeholder="0">
          </div>
        </div>

        <div class="row">
          <div class="offset-by-one columns">
            <input v-model="partidoActual.equipoA.latdcho.nombre" type="text" class="jugador" placeholder="Lat. Dcho.">
            <input v-model="partidoActual.equipoA.latdcho.goles"  type="text" class="goles" placeholder="0">
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <input v-model="partidoActual.equipoA.latizq.nombre"  type="text" class="jugador" placeholder="Lat. Izq.">
            <input v-model="partidoActual.equipoA.latizq.goles"   type="text" class="goles" placeholder="0">
          </div>
        </div>

        <div class="row">
          <div class="offset-by-four column">
            <input v-model="partidoActual.equipoA.central.nombre"  type="text" class="jugador" placeholder="Central">
            <input v-model="partidoActual.equipoA.central.goles"   type="text" class="goles" placeholder="0">
          </div>
        </div>

        <div class="row">
          <div class="offset-by-one column">
            <input v-model="partidoActual.equipoA.extdcho.nombre"  type="text" class="jugador" placeholder="Ext. Dcho.">
            <input v-model="partidoActual.equipoA.extdcho.goles"   type="text" class="goles" placeholder="0">
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <input v-model="partidoActual.equipoA.extizq.nombre"   type="text" class="jugador" placeholder="Ext. Izq.">
            <input v-model="partidoActual.equipoA.extizq.goles"  type="text" class="goles" placeholder="0">
          </div>
        </div>

        <div class="row">
          <div class="offset-by-four column">
            <input v-model="partidoActual.equipoA.delantero.nombre" type="text" class="jugador" placeholder="Delantero">
            <input v-model="partidoActual.equipoA.delantero.goles"  type="text" class="goles" placeholder="0">
          </div>
        </div>

        <div class="row" style="text-align: center;" ><h4>---------------- O -----------------</h4></div>

        <!-- -########### Equipo B ########### -->
        <div class="row">
          <div class="offset-by-four column">
            <input v-model="partidoActual.equipoB.delantero.nombre" type="text" class="jugador" placeholder="Delantero">
            <input v-model="partidoActual.equipoB.delantero.goles"  type="text" class="goles" placeholder="0">
          </div>
        </div>

        <div class="row">
          <div class="offset-by-one column">
            <input v-model="partidoActual.equipoB.extdcho.nombre"   type="text" class="jugador" placeholder="Ext. Dcho.">
            <input v-model="partidoActual.equipoB.extdcho.goles"    type="text" class="goles" placeholder="0">
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <input v-model="partidoActual.equipoB.extizq.nombre"  type="text" class="jugador" placeholder="Ext. Izq.">
            <input v-model="partidoActual.equipoB.extizq.goles"   type="text" class="goles" placeholder="0">
          </div>
        </div>

        <div class="row">
          <div class="offset-by-four column">
            <input v-model="partidoActual.equipoB.central.nombre"  type="text" class="jugador" placeholder="Central">
            <input v-model="partidoActual.equipoB.central.goles"   type="text" class="goles" placeholder="0">
          </div>
        </div>

        <div class="row">
          <div class="offset-by-one column">
            <input v-model="partidoActual.equipoB.latdcho.nombre"  type="text" class="jugador" placeholder="Lat. Dcho.">
            <input v-model="partidoActual.equipoB.latdcho.goles"   type="text" class="goles" placeholder="0">
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <input v-model="partidoActual.equipoB.latizq.nombre"   type="text" class="jugador" placeholder="Lat. Izq.">
            <input v-model="partidoActual.equipoB.latizq.goles"    type="text" class="goles" placeholder="0">
          </div>
        </div>

        <div class="row">
          <div class="offset-by-four column">
            <input v-model="partidoActual.equipoB.portero.nombre"  type="text" class="jugador" placeholder="Portero">
            <input v-model="partidoActual.equipoB.portero.goles"   type="text" class="goles" placeholder="0">
          </div>
        </div>
      </div>
    </template>

  <!-- Template VerClasificacion
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <template v-if="!verPartidos && !addPartidos">
    <div class="cabecera">
       <div class="" id="tablaClasificacion">
          <span class="row subtitulo">CLASIFICACION TEMPORADA 2016/17</span>
          <table class="">
            <thead><tr><th>Jugador</th><th>Part</th><th>Gan</th><th>Emp</th><th>Per</th><th>Gol</th><th>Ptos</th><th>MVP</th></tr></thead>
            <tbody>
              <tr v-for="dato in clasifica | orderBy 'parseFloat(mvp)' -1">
                <td>{{dato.jugador}}</td>
                <td>{{dato.jugados}}</td>
                <td>{{dato.ganados}}</td>
                <td>{{dato.empatados}}</td>
                <td>{{dato.perdidos}}</td>
                <td>{{dato.goles}}</td>
                <td>{{dato.puntos}}</td>
                <td>{{dato.mvp}}</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </template>

  <!-- Template Ver Historico de Partidos
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <template v-if="verPartidos && !addPartidos">
    <div class="row">
      <div class="u-pull-left">
        <button @click="partidoAnterior" class="button-primary" :disabled="punteroPartidos == 0">&lt;Ant</button>
      </div>
      <div class="u-pull-left fechaSelector">
        <span>{{partidoActual.fecha}}</span>
        <span class="goles">[{{golesEquipoA}} - {{golesEquipoB}}]</span>
      </div>
      <div class="u-pull-left">
        <button @click="partidoSigiente" class="button-primary" :disabled="punteroPartidos == partidos.length - 1" >Sig></button>
      </div>
      <span class="fechaSelector numPartidos">{{punteroPartidos+1}}/{{partidos.length}}</span>
    </div>
    <div  class="row cabecera">
      <!-- Posicion Jugadores en Campo de Juego -->
      <div  class="campoJuego" >

        <!-- -########### Equipo A ########### -->
        <div class="porteroA equipoRojo ">
          <div class="nombre">{{partidoActual.equipoA.portero.nombre}}</div>
          <div class="goles">{{partidoActual.equipoA.portero.goles}}</div>
        </div>
        <div class="latDchoA equipoRojo">
          <div class="nombre">{{partidoActual.equipoA.latdcho.nombre}}</div>
          <div class="goles">{{partidoActual.equipoA.latdcho.goles}}</div>
        </div>
        <div class="latIzqA equipoRojo">
          <div class="nombre">{{partidoActual.equipoA.latizq.nombre}}</div>
          <div class="goles">{{partidoActual.equipoA.latizq.goles}}</div>
        </div>
        <div class="centralA equipoRojo">
          <div class="nombre">{{partidoActual.equipoA.central.nombre}}</div>
          <span class="goles">{{partidoActual.equipoA.central.goles}}</span>
        </div>
        <div class="extDchoA equipoRojo">
          <div class="nombre">{{partidoActual.equipoA.extdcho.nombre}}</div>
          <div class="goles">{{partidoActual.equipoA.extdcho.goles}}</div>
        </div>
        <div class="extIzqA equipoRojo">
          <div class="nombre">{{partidoActual.equipoA.extizq.nombre}}</div>
          <div class="goles">{{partidoActual.equipoA.extizq.goles}}</div>
        </div>
        <div class="delanteroA equipoRojo">
          <div class="nombre">{{partidoActual.equipoA.delantero.nombre}}</div>
          <div class="goles">{{partidoActual.equipoA.delantero.goles}}</div>
        </div>
        <!-- -######################     Equipo B       ################## -->
        <div class="delanteroB equipoAzul">
          <div class="nombre">{{partidoActual.equipoB.delantero.nombre}}</div>
          <div class="goles">{{partidoActual.equipoB.delantero.goles}}</div>
        </div>
        <div class="extDchoB equipoAzul">
          <div class="nombre">{{partidoActual.equipoB.extdcho.nombre}}</div>
          <div class="goles">{{partidoActual.equipoB.extdcho.goles}}</div>
        </div>
        <div class="extIzqB equipoAzul">
          <div class="nombre">{{partidoActual.equipoB.extizq.nombre}}</div>
          <div class="goles">{{partidoActual.equipoB.extizq.goles}}</div>
        </div>
        <div class="centralB equipoAzul">
          <div class="nombre">{{partidoActual.equipoB.central.nombre}}</div>
          <div class="goles">{{partidoActual.equipoB.central.goles}}</div>
        </div>
        <div class="latDchoB equipoAzul">
          <div class="nombre">{{partidoActual.equipoB.latdcho.nombre}}</div>
          <div class="goles">{{partidoActual.equipoB.latdcho.goles}}</div>
        </div>
        <div class="latIzqB equipoAzul">
          <div class="nombre">{{partidoActual.equipoB.latizq.nombre}}</div>
          <div class="goles">{{partidoActual.equipoB.latizq.goles}}</div>
        </div>
        <div class="porteroB equipoAzul">
          <div class="nombre">{{partidoActual.equipoB.portero.nombre}}</div>
          <div class="goles">{{partidoActual.equipoB.portero.goles}}</div>
        </div>
      </div>
    </div>
  </template>

  <hr>

  <div class="footer" >(c) JAD 2016</div>

   <!-- –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
