<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Valdezorras</title>
  <meta name="description" content="Liguilla de Futbol">
  <meta name="author" content="JADiez">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="img/favicon.ico">

</head>
<body>

  <!-- Cabecera y Menu
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" @click="conectar"><img alt="Crear partido" src="img/logo.png"></a>
        <a v-if="!esperando && !addPartidos"  @click="verPartidos=!verPartidos" class="btn btn-default navbar-btn pull-right">{{textoBoton1}}</a>
        <a v-if="addPartidos"  @click="guardaPartido" class="btn btn-warning navbar-btn pull-right">{{textoBoton2}}</a>
      </div>
    </nav>

    <!-- Template Añadir nuevo partido
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <template v-if="addPartidos">       
      <div class="contenedor-flex">
        <label>Fecha: </label>
        <input v-model="partidoActual.fecha" type="date">
        <label class="goles"><strong class="">{{golesEquipoA}}</strong> - <strong class="">{{golesEquipoB}}</strong></label>
      </div>
      <div class="contenedor"> 
        <div class="contenedor-equipos" >
          <!--***** EQUIPO AZUL ******-->
          <div class="azul">
            <div class="items">
              <input class="jugador" placeholder="PORTERO"  type="text" v-model="partidoActual.equipoA.portero.nombre">
              <button class="boton icon-minus" :disabled="partidoActual.equipoA.portero.goles==0" @click="partidoActual.equipoA.portero.goles--"></button>
              <span class="goles">{{partidoActual.equipoA.portero.goles}}</span>
              <button class="boton icon-plus" @click="partidoActual.equipoA.portero.goles++"></button>
            </div>     
            <div class="items">
              <input class="jugador" placeholder="DEF.IZQ." type="text" v-model="partidoActual.equipoA.latizq.nombre">
              <button class="boton icon-minus" :disabled="partidoActual.equipoA.latizq.goles==0"   @click="partidoActual.equipoA.latizq.goles--"></button>
              <span class="goles">{{partidoActual.equipoA.latizq.goles}}</span>
              <button class="boton icon-plus" @click="partidoActual.equipoA.latizq.goles++"></button>
            </div>        
            <div class="items">
              <input class="jugador" placeholder="CENTRAL" type="text" v-model="partidoActual.equipoA.central.nombre">
              <button class="boton icon-minus" :disabled="partidoActual.equipoA.central.goles==0" @click="partidoActual.equipoA.central.goles--"></button>
              <span class="goles">{{partidoActual.equipoA.central.goles}}</span>
              <button class="boton icon-plus" @click="partidoActual.equipoA.central.goles++"></button>
            </div>     
            <div class="items">
              <input class="jugador" placeholder="DEF.DCHO." type="text" v-model="partidoActual.equipoA.latdcho.nombre">
              <button class="boton icon-minus" :disabled="partidoActual.equipoA.latdcho.goles==0" @click="partidoActual.equipoA.latdcho.goles--"></button>
              <label class="goles">{{partidoActual.equipoA.latdcho.goles}}</label>
              <button class="boton icon-plus" @click="partidoActual.equipoA.latdcho.gole++"></button>
            </div>   
            <div class="items">
              <input class="jugador" placeholder="EXT.IZQ." type="text" v-model="partidoActual.equipoA.extizq.nombre">
              <button class="boton icon-minus" :disabled="partidoActual.equipoA.extizq.goles==0"  @click="partidoActual.equipoA.extizq.goles--"></button>
              <span class="goles">{{partidoActual.equipoA.extizq.goles}}</span>
              <button class="boton icon-plus" @click="partidoActual.equipoA.extizq.goles++"></button>
            </div>        
            <div class="items">
              <input class="jugador" placeholder="EXT.DCHO." type="text" v-model="partidoActual.equipoA.extdcho.nombre">
              <button class="boton icon-minus" :disabled="partidoActual.equipoA.extdcho.goles==0" @click="partidoActual.equipoA.extdcho.goles--"></button>
              <span class="goles">{{partidoActual.equipoA.extdcho.goles}}</span>
              <button class="boton icon-plus" @click="partidoActual.equipoA.extdcho.goles++"></button>
            </div>     
            <div class="items">
              <input class="jugador" placeholder="DELANTERO" type="text" v-model="partidoActual.equipoA.delantero.nombre">
              <button class="boton icon-minus" :disabled="partidoActual.equipoA.delantero.goles==0" @click="partidoActual.equipoA.delantero.goles--"></button>
              <span class="goles">{{partidoActual.equipoA.delantero.goles}}</span>
              <button class="boton icon-plus" @click="partidoActual.equipoA.delantero.goles++"></button>
            </div> 
          </div>
          <!--***** EQUIPO ROJO ******-->
          <div class="rojo">
            <div class="items">
              <input class="jugador" placeholder="PORTERO"  type="text" v-model="partidoActual.equipoB.portero.nombre">
              <button class="boton icon-minus" "partidoActual.equipoB.portero.goles==0" @click="partidoActual.equipoB.portero.goles--"></button>
              <span class="goles">{{partidoActual.equipoB.portero.goles}}</span>
              <button class="boton icon-plus" @click="partidoActual.equipoB.portero.goles++"></button>
            </div>     
            <div class="items">
              <input class="jugador" placeholder="DEF.IZQ." type="text" v-model="partidoActual.equipoB.latizq.nombre">
              <button class="boton icon-minus" :disabled="partidoActual.equipoB.latizq.goles==0" @click="partidoActual.equipoB.latizq.goles--"></button>
              <span class="goles">{{partidoActual.equipoB.latizq.goles}}</span>
              <button class="boton icon-plus" @click="partidoActual.equipoB.latizq.goles++"></button>
            </div>        
            <div class="items">
              <input class="jugador" placeholder="CENTRAL" type="text" v-model="partidoActual.equipoB.central.nombre">
              <button class="boton icon-minus" :disabled="partidoActual.equipoB.central.goles==0" @click="partidoActual.equipoB.central.goles--"></button>
              <span class="goles">{{partidoActual.equipoB.central.goles}}</span>
              <button class="boton icon-plus" @click="partidoActual.equipoB.central.goles++"></button>
            </div>     
            <div class="items">
              <input class="jugador" placeholder="DEF.IZQ." type="text" v-model="partidoActual.equipoB.latdcho.nombre">
              <button class="boton icon-minus" :disabled="partidoActual.equipoB.latdcho.goles==0" @click="partidoActual.equipoB.latdcho.goles--"></button>
              <span class="goles">{{partidoActual.equipoB.latdcho.goles}}</span>
              <button class="boton icon-plus" @click="partidoActual.equipoB.latdcho.goles++"></button>
            </div>   
            <div class="items">
              <input class="jugador" placeholder="EXT.IZQ." type="text" v-model="partidoActual.equipoB.extizq.nombre">
              <button class="boton icon-minus" :disabled="partidoActual.equipoB.extizq.goles==0" @click="partidoActual.equipoB.extizq.goles--"></button>
              <span class="goles">{{partidoActual.equipoB.extizq.goles}}</span>
              <button class="boton icon-plus" @click="partidoActual.equipoB.extizq.goles++"></button>
            </div>        
            <div class="items">
              <input class="jugador" placeholder="EXT.DCHO." type="text" v-model="partidoActual.equipoB.extdcho.nombre">
              <button class="boton icon-minus" :disabled="partidoActual.equipoB.extdcho.goles==0" @click="partidoActual.equipoB.extdcho.goles--"></button>
              <span class="goles">{{partidoActual.equipoB.extdcho.goles}}</span>
              <button class="boton icon-plus" @click="partidoActual.equipoB.extdcho.goles++"></button>
            </div>     
            <div class="items">
              <input class="jugador" placeholder="DELANTERO" type="text" v-model="partidoActual.equipoB.delantero.nombre">
              <button class="boton icon-minus" :disabled="partidoActual.equipoB.delantero.goles==0" @click="partidoActual.equipoB.delantero.goles--"></button>
              <span class="goles">{{partidoActual.equipoB.delantero.goles}}</span>
              <button class="boton icon-plus" @click="partidoActual.equipoB.delantero.goles++"></button>
            </div> 
          </div>
        </div>
        <!--****** LISTADO JUGADORES ******-->
        <div class="contenedor-jugadores">
            <div class="player">FERNANDO</div>
            <div class="player">jugador1</div>
            <div class="player">jugador1</div>
            <div class="player">jugador1</div>
            <div class="player">jugador1</div>
            <div class="player">jugador1</div>
        </div>
      </div>
      <hr>
     </template>
	 
	 
    <!-- Template VerClasificacion
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <template v-if="!verPartidos && !addPartidos">
      <div class="panel panel-primary">
        <div class="panel-heading" >
            <h6 class="text-center panel-title"> <strong> Clasificación Temporada 2016/17 </strong></h6>
        </div>
        <div class="">
            <table class="table table-striped table-condensed" >
              <thead>
                <tr>
                  <th @click="ordenarPor('jugador')" :class="{ordenado: orden.jugador}">Jugador</th>
                  <th @click="ordenarPor('jugados')" :class="{ordenado: orden.jugados}">Par</th>
                  <th @click="ordenarPor('ganados')" :class="{ordenado: orden.ganados}">Gan</th>
                  <th @click="ordenarPor('empatados')" :class="{ordenado: orden.empatados}">Emp</th>
                  <th @click="ordenarPor('perdidos')" :class="{ordenado: orden.perdidos}">Per</th>
                  <th @click="ordenarPor('goles')" :class="{ordenado: orden.goles}">Gol</th>
                  <th @click="ordenarPor('puntos')" :class="{ordenado: orden.puntos}">Ptos</th>
              <!--<th>MVP</th></tr>-->
              </thead>
              <tbody >
                <tr v-for="dato in clasifica | orderBy columnaOrden columnaOrdenNum">
                  <td>{{dato.jugador}}</td>
                  <td>{{dato.jugados}}</td>
                  <td>{{dato.ganados}}</td>
                  <td>{{dato.empatados}}</td>
                  <td>{{dato.perdidos}}</td>
                  <td>{{dato.goles}}</td>
                  <td>{{dato.puntos}}</td>
                  <!--<td>{{dato.mvp}}</td>-->
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </template>

    <!-- Template Ver Historico de Partidos
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <template v-if="verPartidos && !addPartidos">
      <div class="contenedor-row">
        <div class="navegacion2">
          <button  @click="partidoAnterior" class="btn-default" :disabled="punteroPartidos == 0">
              <span class="glyphicon glyphicon-backward"</span>
          </button>
          <div class="navegacion">
            <strong style="padding-right:5px">{{partidoActual.fecha}}</strong> 
            <span class="goles">{{golesEquipoA}}</span>-<span class="goles">{{golesEquipoB}}</span>
          </div>
          <button @click="partidoSigiente" class="btn-default" :disabled="punteroPartidos == partidos.length - 1" >
            <span class="glyphicon glyphicon-forward"></span>
          </button>
          <span class="btn btn-warning">{{punteroPartidos+1}}/{{partidos.length}}</span>
        </div>
      </div>

      <!-- -########### Equipo A ########### -->
      <div  class="contenedor" >
        <div class="campoA">
          <div class="linea">
            <div class="equipo Rojo">
              <div class="nombre">{{partidoActual.equipoA.portero.nombre}}</div>
              <div class="goles2">{{partidoActual.equipoA.portero.goles}}</div>
            </div>
          </div>
          <div class="linea">
            <div class="equipo Rojo">
              <div class="nombre">{{partidoActual.equipoA.latdcho.nombre}}</div>
              <div class="goles2">{{partidoActual.equipoA.latdcho.goles}}</div>
            </div>
            <div class="equipo Rojo">
              <div class="nombre">{{partidoActual.equipoA.latizq.nombre}}</div>
              <div class="goles2">{{partidoActual.equipoA.latizq.goles}}</div>
            </div>
          </div>
          <div class="linea">
            <div class="equipo Rojo">
              <div class="nombre">{{partidoActual.equipoA.central.nombre}}</div>
              <span class="goles2">{{partidoActual.equipoA.central.goles}}</span>
            </div>
          </div>
          <div class="linea">
            <div class="equipo Rojo">
              <div class="nombre">{{partidoActual.equipoA.extdcho.nombre}}</div>
              <div class="goles2">{{partidoActual.equipoA.extdcho.goles}}</div>
            </div>
            <div class="equipo Rojo">
              <div class="nombre">{{partidoActual.equipoA.extizq.nombre}}</div>
              <div class="goles2">{{partidoActual.equipoA.extizq.goles}}</div>
            </div>
          </div>
          <div class="linea">
            <div class="equipo Rojo">
              <div class="nombre">{{partidoActual.equipoA.delantero.nombre}}</div>
              <div class="goles2">{{partidoActual.equipoA.delantero.goles}}</div>
            </div>
          </div>
        </div>
      </div>
      <!-- -########### Equipo B ########### -->
      <div  class="contenedor" >
        <div class="campoB">
          <div class="linea">
            <div class="equipo Azul">
              <div class="nombre">{{partidoActual.equipoB.delantero.nombre}}</div>
              <div class="goles2">{{partidoActual.equipoB.delantero.goles}}</div>
            </div>
          </div>
          <div class="linea">
            <div class="equipo Azul">
              <div class="nombre">{{partidoActual.equipoB.extdcho.nombre}}</div>
              <div class="goles2">{{partidoActual.equipoB.extdcho.goles}}</div>
            </div>
            <div class="equipo Azul">
              <div class="nombre">{{partidoActual.equipoB.extizq.nombre}}</div>
              <div class="goles2">{{partidoActual.equipoB.extizq.goles}}</div>
            </div>
          </div>
          <div class="linea">
            <div class="equipo Azul">
              <div class="nombre">{{partidoActual.equipoB.central.nombre}}</div>
              <div class="goles2">{{partidoActual.equipoB.central.goles}}</div>
            </div>
          </div>
          <div class="linea">
            <div class="equipo Azul">
              <div class="nombre">{{partidoActual.equipoB.latdcho.nombre}}</div>
              <div class="goles2">{{partidoActual.equipoB.latdcho.goles}}</div>
            </div>
            <div class="equipo Azul">
              <div class="nombre">{{partidoActual.equipoB.latizq.nombre}}</div>
              <div class="goles2 ">{{partidoActual.equipoB.latizq.goles}}</div>
            </div>
          </div>
          <div class="linea">
            <div class="equipo Azul">
              <div class="nombre">{{partidoActual.equipoB.portero.nombre}}</div>
              <div class="goles2">{{partidoActual.equipoB.portero.goles}}</div>
            </div>
          </div>
        </div>
      </div>
    </template>

    <!-- Footer
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <div class="panel panel-primary text-center text-primary">
      (c) JAD 2016
    </div>
  </div>
  <!-- –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
